/* Splash Screen */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 500ms ease-out;
}

.splash-screen--dismissing {
  opacity: 0;
}

.splash-screen__animation {
  width: 200px;
  height: 200px;
}
